@model TournamentModel

<div class"containter">
	<div class="row pt-4 pb-3">
		<div class="col-6">
			<h2 class="text-primary">
				TEAM LIST
			</h2>
		</div>
		<div class="col-6 text-end">
			<a asp-controller="Tournament" asp-action="Create" class="btn btn-dark"> <i class="bi bi-plus-square"></i> Create new tournament</a>
		</div>
	</div>

	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>
					Tournament Name
				</th>
				<th>
					Sport
				</th>
				<th>
					Maximum number of teams
				</th>
				<th>
					Number of groups
				</th>
				<th>
					Starting date
				</th>
				<th>
					Teams
				</th>
			</tr>
		</thead>
		<tbody>

			<tr>
				<td>
					@Model.Name
				</td>
				<td>
					@Model.Sport
				</td>
				<td>
					@Model.NumberOfTeams
				</td>
				<td>
					@Model.NumberOfGroups
				</td>
				<td>
					@Model.StartDate
				</td>
				<td>
					@if (!(Model.teams == null))
					{
						@foreach (var team in Model.teams)
						{
							@team <br />

							<br />
						}
					}
				</td>
			</tr>
			
		</tbody>
	</table>
	<div class="row">
		<div class="col-2">
			<a asp-controller="Tournament" asp-action="Index" class="btn btn-secondary border ">Back</a>
		</div>
		<div class="col-2">
			<a asp-controller="Tournament" asp-action="Index" class="btn btn-secondary border ">Create a bracket</a>
		</div>
	</div>
</div>